[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/NestJS-Microservices-Personal/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/NestJS-Microservices-Personal/products.git
